<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout">
<head>
    <title>Tender Tracker</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">

            <th:block th:if="${alert != null}">
                <div th:replace="fragments/alert :: alert (type=${alert.getType()}, messages=${alert.messages})">Alert</div>
            </th:block>

            <!-- box item details -->
            <div class="block-section box-item-details">


                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tenderDetails" aria-controls="home" role="tab" data-toggle="tab">User Details</a></li>
                        <li role="presentation"><a href="#changePassword" aria-controls="profile" role="tab" data-toggle="tab">Change Password</a></li>
                        <li role="presentation"><a href="#clarification" aria-controls="profile" role="tab" data-toggle="tab">Bookmark Tender</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Tender details pane -->
                        <div role="tabpanel" class="tab-pane active" id="tenderDetails">
                            <form th:action="@{/user/profile/update}" method="POST" sec:authorize="hasAnyRole('USER')">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>User Profile:</h4>
                                    <input type="hidden" name="userId" th:value="${userprofile.id}" />
                                    <p>Name:  <span th:text="${userprofile.name}"></span></p>
                                    <p>Email: <input type="text" class="form-control" th:field="${userprofile.email}" required="required"/></p>
                                    <p>Contact No: <input type="text" class="form-control" th:field="${userprofile.contactNumber}"/></p>
                                    <p><button type="submit" class="btn btn-theme btn-lg btn-t-primary btn-pill">Update</button></p>
                                </div>

                            </div>
                            </form>
                        </div>
                        <!-- end Tender details pane -->

                        <!-- change password pane -->

                        <div role="tabpanel" class="tab-pane" id="changePassword">

                            <form th:action="@{/user/password/update}" method="POST" sec:authorize="hasAnyRole('USER')">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Change Password:</h4>
                                        <input type="hidden" name="userId" th:value="${userprofile.id}" />
                                        <input type="hidden" name="email" th:value="${userprofile.email}" />
                                        <p>New Password:  <input type="password" class="form-control" th:field="${passwordDto.password}" required="required"/></p>
                                        <p>Confirm Password: <input type="password" class="form-control" th:field="${passwordDto.confirmPassword}" required="required"/></p>

                                        <p><button type="submit" class="btn btn-theme btn-lg btn-t-primary btn-pill">Update</button></p>
                                    </div>

                                </div>
                            </form>



                        </div>

                        <div role="tabpanel" class="tab-pane" id="clarification">
                            <br th:if="${#lists.isEmpty(bookmarkTenderList)}" />
                            <p th:if="${#lists.isEmpty(bookmarkTenderList)}">No Bookmarked Tender Found</p>

                            <div class="box-list">
                                <div class="item" th:each="c, iter : ${bookmarkTenderList}">
                                    <div class="row">
                                        <h3 class="no-margin-top">
                                            <a th:href="@{/tender/} + ${c.id}" class="" th:text="${c.tender.title}" target="_blank"></a>
                                        </h3>
                                        <div>
                                            <span class="color-black">Open: <span th:text="${#dates.format(c.tender.openDate, 'dd MMM yyyy')}"></span></span>
                                            <br />
                                            <span class="color-black">Closing: <span th:text="${#dates.format(c.tender.closedDate, 'dd MMM yyyy')}"></span></span>
                                            <br />
                                            <h4>
                                                <span class="label label-default" th:if="${c.tender.status == 1}">OPEN</span>
                                                <span class="label label-warning" th:if="${c.tender.status == 2}">CLOSED</span>
                                                <span class="label label-primary" th:if="${c.tender.status == 3}">AWARDED</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end Clarification pane -->
                    </div>
                    <!-- end Tab panes -->
                </div>
            </div>
            <!-- end box item details -->
        </div>
    </div>
</div>
</body>
</html>