<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>Tender Tracker</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${alert != null}">
        <div th:replace="fragments/alert :: alert (type=${alert.getType()}, messages=${alert.messages})">Alert</div>
    </th:block>
    <div class="alert alert-danger" style="display:none;" id="createCorrigendumError"></div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Corrigendum
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Tender Corrigendum Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Corrigendum Information</h3>
                        <h5 th:text="${tender.title}"></h5>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form th:action="@{/admin/tender/addCorrigendum}" method="POST" class="form-horizontal" th:object="${corrigendum}" id="createCorrigendumForm">
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="description" th:field="*{description}" required="required">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Attachments</label>
                                <div class="col-sm-10">
                                    <div class="dropzone" id="attachmentUploads">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="hidden" th:field="*{tenderId}" />
                                    <input type="submit" id="mainSubmitBtn" value="Save" class="btn btn-primary" />
                                    <a th:href="@{/admin/tender/} + ${tender.id} + @{/corrigendum}" class="btn btn-default">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
</body>
<th:block layout:fragment="scripts">
    <script type="text/javascript">
        // Attachment uploader
        Dropzone.options.attachmentUploads = {
            url: '/admin/tender/addCorrigendum',
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 5,
            maxFiles: 5,
            maxFilesize: 50,
            addRemoveLinks: true,
            paramName: 'attachments',
            init: function() {
                dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

                // for Dropzone to process the queue (instead of default form behavior):
                document.getElementById("mainSubmitBtn").addEventListener("click", function(e) {
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();

                    if (dzClosure.getQueuedFiles().length > 0) {
                        dzClosure.processQueue();
                    } else {
                        $("#createCorrigendumForm").submit();
                    }
                });

                //send all the form data along with the files:
                this.on("sendingmultiple", function(data, xhr, formData) {
                    $("form").find("input").each(function(){
                        formData.append($(this).attr("name"), $(this).val());
                    });
                    $("form").find("textarea").each(function(){
                        formData.append($(this).attr("name"), $(this).val());
                    });
                });
            },
            error: function(file, errorMessage) {
                this.removeFile(file);
                $.each(dzClosure.files, function(i, file) {
                    file.status = Dropzone.QUEUED
                });

                $("#createCorrigendumError").text(errorMessage);
                $('#createCorrigendumError').show();
                $('html,body').animate({scrollTop: 0});
            },
            success: function(file, response) {
                window.location.replace(response);
            }
        }
    </script>
</th:block>
</html>