<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="SYSTEM_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/Spring.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>../logs/Spring.%d{yyyy-MM-dd}.zip</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="APP_LOG_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/TenderTracker.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>../logs/TenderTracker.%d{yyyy-MM-dd}</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.chlorocode.tendertracker.logging" additivity="false" level="TRACE">
        <appender-ref ref="APP_LOG_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="SYSTEM_LOG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>