<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>Tender Tracker</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${alert != null}">
        <div th:replace="fragments/alert :: alert (type=${alert.getType()}, messages=${alert.messages})">Alert</div>
    </th:block>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Product
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header">
                <!--TODO: Implement create product-->
                <a class="btn btn-primary" th:href="@{/admin/product/create}"><i class="fa fa-plus-circle"></i> Create Product</a>
            </div>
            <div class="box-body">
                <table id="productList" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
</body>
<th:block layout:fragment="scripts">
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('table#productList').DataTable({
                'ajax' : '/admin/data/products',
                'serverSide' : true,
                'order' : [[ 1, "asc" ]],
                'columns' : [
                    {
                        'data' : 'productCode',
                        'visible' : false
                    }, {
                        'data' : 'title'
                    }, {
                        'data' : 'description'
                    }, {
                        'data' : 'price'
                    }, {
                        'data' : 'productCode'
                    }
                ],
                'columnDefs' : [
                    {
                        'targets' : 3,
                        'data' : 'price',
                        'render' : function(data,type,full,meta) {
                                return '$ ' + data.toFixed(2);
                            }
                    },
                    {
                        'targets' : 4,
                        'data' : 'productCode',
                        'render' : function (data, type, full, meta) {
                            return '<a href="/admin/product/' + data + '" class="btn btn-primary">Edit</a>';
                        }
                    }
                ]
            });
        });
    </script>
</th:block>
</html>