<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Tender Tracker</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Change Password</h1>
            <th:block th:if="${alert != null}">
                <div th:replace="fragments/alert :: alert (type=${alert.getType()}, messages=${alert.messages})">Alert</div>
            </th:block>
            <form th:method="POST" th:action="@{/changePassword}" th:object="${changePassword}" th:hidden="${changePassword.email == null}">
                <input type="hidden" class="form-control" th:field="*{email}" required="required" />
                <div class="form-group">
                    <label>Password<span style="color:red">*</span></label>
                    <input type="password" class="form-control" th:field="*{password}" required="required" />
                </div>
                <div class="form-group">
                    <label>Confirm Password<span style="color:red">*</span></label>
                    <input type="password" class="form-control" th:field="*{confirmPassword}" required="required" />
                </div>
                <div class="white-space-10"></div>
                <div class="form-group no-margin">
                    <button class="btn btn-theme btn-lg btn-t-primary btn-block">Change Password</button>
                </div>
                <div class="white-space-10"></div>
            </form>
            <div class="form-group no-margin" th:hidden="${changePassword.email != null}" style="padding-bottom: 50px; font-size: large;">
                Go to <a th:href="@{/login}" style="text-decoration: underline;">Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>