<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Tender Tracker</title>
</head>
<body>

<div layout:fragment="headerContainer">
    <!-- form search area-->
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <!-- logo -->
                <div class="logo text-center-sm"> <a th:href="@{/}"><img th:src="@{/assets/theme/images/logo.png}" alt="logo" /></a></div>
            </div>

            <div class="col-md-8">
                <!-- form search -->
                <form class="form-search-list">
                    <div class="row">
                        <div class="col-sm-5 col-xs-6 ">
                            <div class="form-group">
                                <label class="color-white"></label>
                                <input class="form-control" placeholder="tender title" />
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-6 ">
                            <div class="form-group">
                                <label class="color-white"></label>
                                <input class="form-control" placeholder="company name"/>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-12 ">
                            <div class="form-group">
                                <label class="hidden-xs">&nbsp;</label>
                                <button class="btn btn-block btn-theme  btn-success">Search</button>
                            </div>
                        </div>
                    </div>
                    <p class="text-right"><a href="#modal-advanced" data-toggle="modal" class="link-white">Advanced Search</a></p>
                </form>  <!-- form search -->
            </div>


        </div>


        <!-- modal Advanced search -->
        <div class="modal fade" id="modal-advanced" >
            <div class="modal-dialog ">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Advanced Tender Search</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Find Tenders</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tender Title</label>
                                        <input type="text" class="form-control " name="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Company Name</label>
                                        <input type="text" class="form-control " name="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tender Category</label>
                                <select class="form-control">
                                    <option value="-1">All categories</option>
                                    <option th:each="c : ${codeValueSvc.getAllTenderCategories()}" th:value="${c.id}" th:text="${c.name}">IT Service</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control">
                                    <option value="-1">All status</option>
                                    <option th:each="s : ${codeValueSvc.getByType('tender_status')}" th:value="${s.code}" th:text="${s.description}">Open</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-theme" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success btn-theme">Find Tender</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- end modal -->
    </div><!-- end form search area-->
</div>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <th:block th:if="${alert != null}">
                <div th:replace="fragments/alert :: alert (type=${alert.getType()}, messages=${alert.messages})">Alert</div>
            </th:block>

            <!-- box listing -->
            <div class="block-section-sm">
                <!-- item list -->
                <div class="box-list">
                    <div class="item" th:each="t : ${tenders}">
                        <div class="row">
                            <div class="col-md-11">
                                <h3 class="no-margin-top">
                                    <a href="#" class="" th:text="${t.title}">Lorem ipsum dolor sit amet</a>
                                </h3>
                                <h5>
                                    <span class="color-black" th:text="${t.company.name}">Ngee Ann Polytechnic</span>
                                </h5>
                                <div>
                                    <span class="color-black">Open: <span th:text="${#dates.format(t.openDate, 'dd MMM yyyy')}"></span></span>
                                    <br />
                                    <span class="color-black">Closing: <span th:text="${#dates.format(t.closedDate, 'dd MMM yyyy')}"></span></span>
                                    <br />
                                    <h4>
                                        <span class="label label-success" th:if="${t.status == 1}">OPEN</span>
                                        <span class="label label-danger" th:if="${t.status == 2}">CLOSED</span>
                                        <span class="label label-primary" th:if="${t.status == 3}">AWARDED</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end item list -->
                </div>
            </div>
            <!-- end box listing -->
        </div>
    </div>
</div>
</body>
</html>