<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout">
<head>
    <title>Tender Tracker</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">

            <th:block th:if="${alert != null}">
                <div th:replace="fragments/alert :: alert (type=${alert.getType()}, messages=${alert.messages})">Alert</div>
            </th:block>

            <!-- box item details -->
            <div class="block-section box-item-details">
                <h2 class="title" th:text="${tender.title}">
                    Lorem ipsum dolor sit amet
                </h2>
                <h3 th:text="${tender.company.name}">Ngee Ann Polytechnic</h3>

                <form th:action="@{/tender/bookmark}" method="POST" sec:authorize="hasAnyRole('USER')" th:unless="${isBookmarked}">
                    <input type="hidden" name="tenderId" th:value="${tender.id}" />
                    <button type="submit" class="btn btn-primary"><span class="fa fa-bookmark"></span> Bookmark</button>
                </form>
                <form th:action="@{/tender/removeBookmark}" method="POST" sec:authorize="hasAnyRole('USER')" th:if="${isBookmarked}">
                    <input type="hidden" name="tenderId" th:value="${tender.id}" />
                    <button type="submit" class="btn btn-danger"><span class="fa fa-bookmark"></span> Remove Bookmark</button>
                </form>

                <br />

                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tenderDetails" aria-controls="home" role="tab" data-toggle="tab">Tender Details</a></li>
                        <li role="presentation"><a href="#clarification" aria-controls="profile" role="tab" data-toggle="tab">Clarification</a></li>
                        <li role="presentation" th:if="${not #lists.isEmpty(corrigendums)}"><a href="#corrigendum" aria-controls="profile" role="tab" data-toggle="tab">Corrigendum</a></li>
                        <li role="presentation" th:if="${tender.status != 1}"><a href="#bidder" aria-controls="profile" role="tab" data-toggle="tab">Bidder</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Tender details pane -->
                        <div role="tabpanel" class="tab-pane active" id="tenderDetails">

                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Details:</h4>
                                    <p>Opening Date: <span th:text="${#dates.format(tender.openDate, 'dd MMM yyyy HH:mm')}"></span></p>
                                    <p>Closing Date: <span th:text="${#dates.format(tender.closedDate, 'dd MMM yyyy HH:mm')}"></span></p>
                                    <p>Status: <span class="label label-success" th:if="${tender.status == 1}">OPEN</span><span class="label label-danger" th:if="${tender.status == 2}">CLOSED</span><span class="label label-primary" th:if="${tender.status == 3}">AWARDED</span></p>
                                </div>
                                <div class="col-md-6">
                                    <h4>Contact Person:</h4>
                                    <p th:text="${tender.contactPersonName}">John Doe</p>
                                    <p th:text="${tender.contactPersonEmail}">john@gmail.com</p>
                                    <p th:text="${tender.contactPersonPhone}">62441600</p>
                                </div>
                            </div>

                            <h4>Description:</h4>
                            <p th:utext="${tender.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet, dui sit amet ullamcorper feugiat, libero nulla molestie sem, ut pellentesque mi libero ac nibh. Suspendisse sodales tellus vitae posuere volutpat. Maecenas ut pharetra tellus. Fusce tempus gravida nisi, eget.</p>

                            <h4>Document:</h4>
                            <ul>
                                <li th:each="doc : ${tender.documents}"><a th:text="${doc.name}" th:href="${s3Service.getPreSignedURL(doc.location)}" /></li>
                            </ul>

                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Delivery Details:</h4>
                                    <p>Delivery Date: <span th:if="${tender.deliveryDate != null}" th:text="${#dates.format(tender.deliveryDate, 'dd-MM-yyyy')}"></span></p>
                                    <p>Delivery Remarks: <span th:text="${tender.deliveryRemarks}"></span></p>
                                    <p>Delivery Location: <span th:text="${tender.deliveryLocation}"></span></p>
                                </div>
                            </div>

                            <h4>Tender Items:</h4>
                            <table class="table">
                                <tr>
                                    <th>S/N</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>UOM</th>
                                </tr>
                                <tr th:each="i, iterator : ${tender.items}">
                                    <td th:text="${iterator.index + 1}">1</td>
                                    <td th:text="${i.description}">Item 1</td>
                                    <td th:text="${i.quantity}">5</td>
                                    <td th:text="${codeValueService.getDescription('uom', i.uom)}">Pcs</td>
                                </tr>
                            </table>
                            <a th:href="@{/tender/__${tender.id}__/respond}" class="btn btn-block btn-theme btn-success" sec:authorize="hasAnyRole('ADMIN','SUBMITTER')" th:unless="${isSubmitedTender}">Submit Response</a>

                            <a th:href="@{/tender/__${tender.id}__/respond}" class="btn btn-block btn-theme btn-success" sec:authorize="hasAnyRole('ADMIN','SUBMITTER')" th:if="${isSubmitedTender}" disabled="true">Submit Response</a>
                        </div>
                        <!-- end Tender details pane -->

                        <!-- Clarification pane -->
                        <div role="tabpanel" class="tab-pane" id="clarification">

                            <form th:action="@{/tender/clarification/save}" method="POST" sec:authorize="hasAnyRole('USER')">
                                <h4 sec:authorize="hasAnyRole('ADMIN,SUBMITTER')">Submit Clarification</h4>
                                <div class="form-group" sec:authorize="hasAnyRole('ADMIN,SUBMITTER,SYS_ADMIN')">
                                    <label>Clarification</label>
                                    <textarea class="form-control" rows="4" required="required" th:field="${clarificationDto.response}"></textarea>
                                </div>
                                <div class="form-group" sec:authorize="hasAnyRole('ADMIN,SUBMITTER,SYS_ADMIN')">
                                    <input type="hidden" name="tenderId" th:value="${tender.id}" />
                                    <input type="hidden" name="companyId" th:value="${tender.company.id}" />
                                    <button type="submit" class="btn btn-theme btn-lg btn-t-primary btn-pill">Submit</button>
                                </div>
                            </form>

                            <hr sec:authorize="hasAnyRole('USER')" />

                            <br th:if="${#lists.isEmpty(clarification)}" />
                            <p th:if="${#lists.isEmpty(clarification)}">No Clarification Found</p>

                            <div class="box-list">
                                <div class="item" th:each="c, iter : ${clarification}">
                                    <div class="row">
                                        <h3 th:text="${c.description}"></h3>
                                        <p><strong>Submitted Date: </strong><span th:text="${#dates.format(c.createdDate, 'dd-MMM-yyyy HH:mm:ss')}"> </span></p>
                                        <p><strong>Submitter: </strong> <span th:text="${c.company.name}"> </span></p>
                                        <p th:unless="${#strings.isEmpty(c.response)}"><strong>Response: </strong><span th:text="${c.response}"> </span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end Clarification pane -->

                        <!-- Tender Corrigendum pane -->
                        <div role="tabpanel" class="tab-pane" id="corrigendum" th:if="${not #lists.isEmpty(corrigendums)}">
                            <div class="box-list">
                                <div class="item" th:each="c : ${corrigendums}">
                                    <div class="row">
                                        <h4 th:text="${c.description}"></h4>
                                        <p><strong>Corrigendum Date: </strong><span th:text="${#dates.format(c.createdDate, 'dd-MMM-yyyy')}"> </span></p>
                                        <div>
                                            <p>Attachments: </p>
                                            <ul>
                                                <li th:each="d : ${c.documents}">
                                                    <a th:href="${s3Service.getPreSignedURL(d.location)}" th:text="${d.name}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end Corrigendum pane -->


                        <!-- Tender Bidder pane -->
                        <div role="tabpanel" class="tab-pane" id="bidder" th:if="${tender.status != 1}">
                            <div class="box-list">
                                <div class="item" th:each="b : ${tender.bids}">
                                    <div class="row">
                                        <h4 th:text="${b.company.name}"></h4>
                                        <h5>Bid Value: $<span th:text="${#numbers.formatDecimal(b.getTotalAmount(), 0, 'COMMA', 2, 'POINT')}"></span></h5>
                                    </div>
                                </div>
                                <div class="item" th:if="${#lists.isEmpty(tender.bids)}">
                                    No bidder
                                </div>
                            </div>
                        </div>
                        <!-- end Bidder pane -->
                    </div>
                    <!-- end Tab panes -->
                </div>
            </div>
            <!-- end box item details -->
        </div>
    </div>
</div>
</body>
</html>