<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>Tender Tracker</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tender Details
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Tender Info Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tender Information</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Title</strong>
                                <p th:text="${tender.title}"></p>
                                <hr />

                                <strong>Tender Type</strong>
                                <p th:text="${tenderType}"></p>
                                <hr />

                                <strong>Reference No</strong>
                                <p th:text="${tender.refNo}"></p>
                                <hr />

                                <strong>Category</strong>
                                <p th:text="${tenderCategory.name}"></p>
                                <hr />
                            </div>
                            <div class="col-md-6">
                                <strong>Opening Date</strong>
                                <p th:text="${#dates.format(tender.openDate, 'dd-MM-yyyy')}"></p>
                                <hr />

                                <strong>Closing Date</strong>
                                <p th:text="${#dates.format(tender.closedDate, 'dd-MM-yyyy')}"></p>
                                <hr />

                                <strong>EPV</strong>
                                <p>$ <span th:text="${#numbers.formatDecimal(tender.estimatePurchaseValue, 1, 'COMMA', 2, 'POINT')}"></span></p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <!-- Tender Description Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tender Information</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div th:utext="${tender.description}"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <!-- Contact Details Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Contact Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Name</strong>
                                <p th:text="${tender.contactPersonName}"></p>
                                <hr />

                                <strong>Email</strong>
                                <p th:text="${tender.contactPersonEmail}"></p>
                                <hr />
                            </div>
                            <div class="col-md-6">
                                <strong>Contact</strong>
                                <p th:text="${tender.contactPersonPhone}"></p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-6">
                <!-- Delivery Details Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Delivery Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Delivery Date</strong>
                                <p th:if="${tender.deliveryDate != null}" th:text="${#dates.format(tender.deliveryDate, 'dd-MM-yyyy')}"></p>
                                <hr />

                                <strong>Delivery Remarks</strong>
                                <p th:text="${tender.deliveryRemarks}"></p>
                                <hr />
                            </div>
                            <div class="col-md-6">
                                <strong>Delivery Location</strong>
                                <p th:text="${tender.deliveryLocation}"></p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <!-- Tender Items Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Tender Items</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>UOM</th>
                                <th>Qty</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tr th:each="i : ${tender.items}">
                                <td th:text="${codeValueService.getDescription('uom', i.uom)}"></td>
                                <td th:text="${i.quantity}"></td>
                                <td th:text="${i.description}"></td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

            <div class="col-md-12">
                <!-- Attachments Box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Attachments</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul>
                            <li th:each="doc : ${tender.documents}"><a th:text="${doc.document.name}" th:href="${s3Service.getPreSignedURL(doc.document.location)}" /></li>
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
                <a class="btn btn-primary" th:href="@{/admin/tender}">Back</a>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
</body>
</html>