<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layout">
<head>
    <title>Tender Tracker</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${alert != null}">
        <div th:replace="fragments/alert :: alert (type=${alert.getType()}, messages=${alert.messages})">Alert</div>
    </th:block>
    <div class="alert alert-danger" style="display:none;" id="updateTenderError"></div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Update Tender
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                <form class="form-horizontal" id="createTenderForm" th:action="@{/admin/tender/update}" method="POST" th:object="${tender}">
                    <h4>Tender Information</h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="title" th:field="*{title}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tenderType" class="col-sm-2 control-label">Tender Type</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="tenderType" th:field="*{tenderType}" required="required">
                                        <option th:each="t : ${tenderType}" th:text="${t.description}" th:value="${t.code}">Open</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="invitedCompanyForm" style="display:none;">
                                <label for="title" class="col-sm-2 control-label">Invited Company<span style="color:red">*</span></label>
                                <div class="col-sm-10">
                                    <div id="remote">
                                        <input type="text" class="form-control" id="invitedCompany" name="invitedCompany" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="refNo" class="col-sm-2 control-label">Reference No</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="refNo" th:field="*{refNo}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category" class="col-sm-2 control-label">Category</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="category" th:field="*{tenderCategory}" required="required">
                                        <option th:each="c : ${tenderCategories}" th:text="${c.name}" th:value="${c.id}">IT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="openDate" class="col-sm-4 control-label">Opening Date</label>
                                <div class="input-group date col-sm-4">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="openDate" th:field="*{openDate}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="closedDate" class="col-sm-4 control-label">Closing Date</label>
                                <div class="input-group date col-sm-4">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="closedDate" th:field="*{closedDate}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="epv" class="col-sm-4 control-label">EPV</label>
                                <div class="input-group col-sm-4">
                                    <div class="input-group-addon">
                                        <i class="fa fa-dollar"></i>
                                    </div>
                                    <input type="number" class="form-control" id="epv" name="estimatePurchaseValue" th:value="${#numbers.formatDecimal(tender.estimatePurchaseValue, 0, 2)}" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Tender Description</h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="description" th:field="*{description}" rows="10" cols="80">
                            </textarea>
                        </div>
                    </div>

                    <h4>Contact Details</h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contactName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="contactName" th:field="*{contactPersonName}" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contactEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="contactEmail" th:field="*{contactPersonEmail}" required="required" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="contactPhone" class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="contactPhone" th:field="*{contactPersonPhone}" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Delivery Details</h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="deliveryDate" class="col-sm-4 control-label">Delivery Date</label>
                                <div class="input-group date col-sm-4">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="deliveryDate" th:field="*{deliveryDate}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="deliveryLocation" class="col-sm-2 control-label">Delivery Location</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="deliveryLocation" th:field="*{deliveryLocation}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="deliveryRemarks" class="col-sm-2 control-label">Delivery Remarks</label>
                                <textarea id="deliveryRemarks" th:field="*{deliveryRemarks}" cols="80" rows="5"></textarea>
                            </div>
                        </div>
                    </div>

                    <h4>Tender Item</h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped" id="itemTable">
                                <thead>
                                <tr>
                                    <th>UOM</th>
                                    <th>Quantity</th>
                                    <th>Description</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tr th:each="i, iterator : ${tender.items}">
                                    <td>
                                        <select required="required" name="uom" th:form="tenderItemUpdate + ${iterator.index}" th:id="uom + ${iterator.index}">
                                            <option th:each="u : ${uom}" th:value="${u.code}" th:text="${u.description}" th:selected="${u.code == i.uom}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="quantity" th:id="quantity + ${iterator.index}" th:value="${i.quantity}" required="required" th:form="tenderItemUpdate + ${iterator.index}" />
                                    </td>
                                    <td>
                                        <input type="text" name="description" th:id="description + ${iterator.index}" th:value="${i.description}" required="required" th:form="tenderItemUpdate + ${iterator.index}" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" style="display: inline;" th:onclick="${'moveTenderItemUp(' + i.id + ', ' + tender.tenderId + ')'}" th:disabled="${iterator.index} == 0"><i class="fa fa-arrow-up"></i></button>
                                        <button type="button" class="btn btn-primary" style="display: inline;" th:onclick="${'moveTenderItemDown(' + i.id + ', ' + tender.tenderId + ')'}" th:disabled="${iterator.index} == ${maxTenderItemIndex - 1}"><i class="fa fa-arrow-down"></i></button>
                                    </td>
                                    <td>
                                        <form th:action="@{/admin/tender/updateTenderItem}" method="POST" th:id="tenderItemUpdate + ${iterator.index}" style="display: inline">
                                            <input type="hidden" name="tenderId" th:value="${tender.tenderId}" th:id="tenderId + ${iterator.index}" />
                                            <input type="hidden" name="tenderItemId" th:value="${i.id}" th:id="tenderItemId + ${iterator.index}" />
                                            <button type="button" class="btn btn-primary" th:onclick="${'updateTenderItem(' + iterator.index + ')'}"><i class="fa fa-pencil"></i></button>
                                        </form>
                                        <form th:action="@{/admin/tender/removeTenderItem}" method="POST" style="display: inline">
                                            <input type="hidden" name="tenderId" th:value="${tender.tenderId}" />
                                            <input type="hidden" name="tenderItemId" th:value="${i.id}" />
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <form th:action="@{/admin/tender/addTenderItem}" method="POST" id="tenderItemAdd">
                                        <td>
                                            <select required="required" name="uom" id="uomItemAdd">
                                                <option th:each="u : ${uom}" th:value="${u.code}" th:text="${u.description}"></option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" name="quantity" required="required" id="quantityAdd" />
                                        </td>
                                        <td>
                                            <input type="text" name="description" required="required" id="descriptionAdd" />
                                        </td>
                                        <td>
                                            <input type="hidden" name="tenderId" th:value="${tender.tenderId}" id="itemAddTenderId" />
                                            <button type="button" class="btn btn-primary" onclick="addTenderItem()"><i class="fa fa-plus"></i></button>
                                        </td>
                                    </form>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <h4>Attachment</h4>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tr th:each="d : ${tender.documents}">
                                    <td>
                                        <a th:href="${s3Service.getPreSignedURL(d.location)}" th:text="${d.name}"></a>
                                    </td>
                                    <td>
                                        <form th:action="@{/admin/tender/removeTenderDocument}" method="POST">
                                            <input type="hidden" name="tenderId" th:value="${tender.tenderId}" />
                                            <input type="hidden" name="id" th:value="${d.id}" />
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form th:action="@{/admin/tender/addTenderDocument}" method="post" class="dropzone" enctype="multipart/form-data" id="attachmentUploads">
                                <input type="hidden" name="tenderId" th:value="${tender.tenderId}" />
                            </form>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12">
                            <hr />
                            <input type="submit" id="mainSubmitBtn" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
</body>
<th:block layout:fragment="scripts">
    <script th:src="@{/assets/admin/plugins/typeahead/typeahead.js}"></script>
    <script th:src="@{/assets/admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $('#openDate').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        }).on('dp.change', function(e){
            $('#openDate').attr("value", e.date.format('DD/MM/YYYY HH:mm'));
        });

        $('#closedDate').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        }).on('dp.change', function(e){
            $('#closedDate').attr("value", e.date.format('DD/MM/YYYY HH:mm'));
        });

        $('#deliveryDate').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        }).on('changeDate', function(ev) {
            $('#deliveryDate').attr("value", ev.target.value);
        });
        // Reformat delivery date to remove time component
        if ($('#deliveryDate').val()) {
            var originalDate = $('#deliveryDate').val();
            var formatted = moment(originalDate, 'DD/MM/YYYY HH:mm').format('DD/MM/YYYY');
            $('#deliveryDate').attr("value", formatted);
        }

        $(function () {
            CKEDITOR.replace('description');
        });

        Dropzone.options.attachmentUploads = {
            maxFilesize: 50,
            addRemoveLinks: true,
            error: function(file, errorMessage) {
                this.removeFile(file);
                $("#updateTenderError").text(errorMessage);
                $('#updateTenderError').show();
                $('html,body').animate({scrollTop: 0});
            },
            success: function(file, response) {
                window.location.reload();
            },
            maxfilesexceeded: function(file) {
                alert('Maximum file size exceeded');
            }
        };

        function updateTenderItem(index) {
            var tenderId = $('#tenderId' + index).val();
            var tenderItemId = $('#tenderItemId' + index).val();
            var csrf = $("meta[name='_csrf']").attr("content");
            var uom = $('#uom' + index).val();
            var quantity = $('#quantity' + index).val();
            var description = $('#description' + index).val();

            var url = '/admin/tender/updateTenderItem';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="text" name="tenderId" value="' + tenderId + '" />' +
                '<input type="text" name="tenderItemId" value="' + tenderItemId + '" />' +
                '<input type="text" name="uom" value="' + uom + '" />' +
                '<input type="text" name="quantity" value="' + quantity + '" />' +
                '<input type="text" name="description" value="' + description + '" />' +
                '<input type="text" name="_csrf" value="' + csrf + '" />' +
                '</form>');
            $('body').append(form);
            form.submit();
        }

        function addTenderItem() {
            var tenderId = $('#itemAddTenderId').val();
            var csrf = $("meta[name='_csrf']").attr("content");
            var uom = $('#uomItemAdd').val();
            var quantity = $('#quantityAdd').val();
            var description = $('#descriptionAdd').val();

            var url = '/admin/tender/addTenderItem';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="text" name="tenderId" value="' + tenderId + '" />' +
                '<input type="text" name="uom" value="' + uom + '" />' +
                '<input type="text" name="quantity" value="' + quantity + '" />' +
                '<input type="text" name="description" value="' + description + '" />' +
                '<input type="text" name="_csrf" value="' + csrf + '" />' +
                '</form>');
            $('body').append(form);
            form.submit();
        }

        function moveTenderItemUp(tenderItemId, tenderId) {
            var csrf = $("meta[name='_csrf']").attr("content");
            var url = '/admin/tender/moveUpTenderItem';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="text" name="tenderId" value="' + tenderId + '" />' +
                '<input type="text" name="tenderItemId" value="' + tenderItemId + '" />' +
                '<input type="text" name="_csrf" value="' + csrf + '" />' +
                '</form>');
            $('body').append(form);
            form.submit();
        }

        function moveTenderItemDown(tenderItemId, tenderId) {
            var csrf = $("meta[name='_csrf']").attr("content");
            var url = '/admin/tender/moveDownTenderItem';
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="text" name="tenderId" value="' + tenderId + '" />' +
                '<input type="text" name="tenderItemId" value="' + tenderItemId + '" />' +
                '<input type="text" name="_csrf" value="' + csrf + '" />' +
                '</form>');
            $('body').append(form);
            form.submit();
        }

        $(document).ready(function() {
            var companies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '/admin/data/company',
                remote: {
                    url: '/admin/data/company?name=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            companies.initialize();

            $('#invitedCompany').tagsinput({
                itemValue: 'id',
                itemText: 'name',
                typeaheadjs: [{
                    minLength: 2,
                    highlight: true
                }, {
                    name: 'companies',
                    displayKey: 'name',
                    source: companies.ttAdapter()
                }]
            });

            if ($("#tenderType").val() == 2) {
                $.ajax({
                    type: 'GET',
                    url: '/admin/data/invitedCompany/[[${tender.tenderId}]]',
                    dataType: 'json',
                    success: function (data) {
                        $.each(data, function(i, item) {
                            $('#invitedCompany').tagsinput('add', item);
                        })
                    }
                });

                $("#invitedCompanyForm").show();
            } else {
                $("#invitedCompanyForm").hide();
            }

            $('#invitedCompany').on('beforeItemRemove', function(event) {
                var tag = event.item;
                var csrf = $("meta[name='_csrf']").attr("content");

                if (!event.options || !event.options.preventPost) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/admin/data/invitedCompany/[[${tender.tenderId}]]',
                        headers: {"X-CSRF-TOKEN": csrf},
                        contentType: 'application/json',
                        data: JSON.stringify( { "companyId": tag.id } ),
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr);
                            $('#invitedCompany').tagsinput('add', tag);
                        }
                    });
                }
            });

            $('#invitedCompany').on('beforeItemAdd', function(event) {
                var tag = event.item;
                var csrf = $("meta[name='_csrf']").attr("content");

                if (!event.options || !event.options.preventPost) {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/data/invitedCompany/[[${tender.tenderId}]]',
                        headers: {"X-CSRF-TOKEN": csrf},
                        contentType: 'application/json',
                        data: JSON.stringify( { "companyId": tag.id } ),
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr);
                            $('#invitedCompany').tagsinput('remove', tag);
                        }
                    });
                }
            });
        });

        /*]]>*/
    </script>
</th:block>
</html>